<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Kombinatorika</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

        <style>
            .alert {
                background: green;
                padding: 1rem;
                border-radius: 5px;
                color: white;
                margin: 1rem;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Kombinatorika</h1>
        </div>

        <!-- Form -->

            <form action="/send" method="POST">
                <div class="alert">{{ sum }}</div>

                <div class="container">
                    <label for="Operace">Operace</label>
                    <select class="u-full-width" name="operace">
                        <option value="permutace">Permutace</option>
                        <option value="variace">Variace</option>
                        <option value="kombinace">Kombinace</option>
                        <option value="permutacesop">Permutace s opakováním</option>
                        <option value="variacesop">Variace s opakováním</option>
                        <option value="kombinacesop">Kombinace s opakováním</option>
                    </select>

                    
                <label for="n">n</label>
                <input type="text" placeholder="n" class="u-full-width" name="n" />

                <label for="k">k</label>
                <input type="text" placeholder="k" class="u-full-width" name="k" />
                
                <label for="Zadej r1">Zadej "r1"</label>
                <input type="text" placeholder="r1" class="u-full-width" name="r1 />

                <label for="Zadej r2">Zadej "r2"</label>
                <input type="text" placeholder="r2" class="u-full-width" name="r2" />

                <label for="Zadej r3">Zadej "r3"</label>
                <input type="text" placeholder="r3" class="u-full-width" name="r3" />

                <label for="Zadej r4">Zadej "r4"</label>
                <input type="text" placeholder="r4" class="u-full-width" name="r4" />

                <label for="Zadej r5">Zadej "r5"</label>
                <input type="text" placeholder="r5" class="u-full-width" name="r5" />
                
                <input type="submit" value="Calculate" id="calc_btn" />
                <br />
                <div class="alert">{{ sum }}</div>
            </form>
        </div>
    </body>
</html>
